{% extends 'base.html' %}
{% block title %} {{title}} {% endblock %}
{% block header_title %} {{subtitle}} {% endblock %}
{% block content %}

<body>
    <h1>{{user_register}}</h1>
    <p>{{choose_user_type_message}}</p>
    <div class="btn-group-vertical" role="group" aria-label="Vertical button group">
        <a class="btn btn-dark" href="{% url 'customer_sign_up' %}">{{client}}</a>
        <a class="btn btn-dark" href="{% url 'adm_sign_up' %}">{{admin}}</a>
    </div>
</body>


{% endblock %}