{% extends 'base.html' %}
{% block title %} {{title}} {% endblock %}
{% block header_title %} {{subtitle}} {% endblock %}
{% block content %}

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h1 class="text-center mb-4">Create a New Brand</h1>
                    <form method="post" enctype="multipart/form-data" class="form">
                        {% csrf_token %}
                        <div class="mb-3">
                            <label for="{{ brand_form.name.id_for_label }}" class="form-label">Brand Name</label>
                            <input type="text" class="form-control" id="{{ brand_form.name.id_for_label }}" name="{{ brand_form.name.name }}" placeholder="Enter brand name" value="{{ brand_form.name.value|default_if_none:'' }}" required>
                            {% if brand_form.name.errors %}
                                {% for error in brand_form.name.errors %}
                                    <div class="alert alert-danger">{{ error }}</div>
                                {% endfor %}
                            {% endif %}
                        </div>
                        <div class="mb-3">
                            <label for="{{ image_form.image.id_for_label }}" class="form-label">Brand Image</label>
                            <input type="file" class="form-control" id="{{ image_form.image.id_for_label }}" name="{{ image_form.image.name }}" required>
                            {% if image_form.image.errors %}
                                {% for error in image_form.image.errors %}
                                    <div class="alert alert-danger">{{ error }}</div>
                                {% endfor %}
                            {% endif %}
                        </div>
                        <div class="text-center">
                            <button type="submit" class="btn btn-dark">Crear Marca</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}


