{% extends 'base.html' %}
{% block title %} {{title}} {% endblock %}
{% block header_title %} {{subtitle}} {% endblock %}
{% block content %}

<body>
    <h1>{{edit}} {{ product.name }}</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">{{save_changes}}</button>
    </form>

    <form action="{% url 'product_delete' product_id=product.product_id %}" method="post">
        {% csrf_token %}
        <button type="submit" onclick="return confirm('{{delete_confirmation_message}}')">{{delete_product}}</button>
    </form>
</body>

{% endblock %}