{% extends 'base.html' %}
{% block title %}{{ title }}{% endblock %}
{% block header_title %}{{ subtitle }}{% endblock %}
{% block content %}

<div class="container mt-5">
    <div class="row">
        <!-- Columna para la imagen -->
        <div class="col-md-6">
            {% if product.images.all %}
            <img src="{{ product.images.all.first.image.url }}" alt="{{ product.name }}" class="img-fluid shadow-lg">
            {% endif %}
        </div>

        <!-- Columna para la información del producto -->
        <div class="col-md-6">
            <h1>{{ product.name }}</h1>
            <p><strong>{{price}}:</strong> ${{ product.price }}</p>
            <p><strong>{{description}}:</strong> {{ product.description }}</p>
            <p><strong>{{brand}}:</strong> {{ product.brand }}</p>
            <p><strong>{{category}}:</strong> {{ product.category }}</p>
            <p class="text-secondary"><strong>{{created_at}}:</strong> {{ product.created_at }}</p>
            {% if user.is_customer %}
            <div class="row justify">
                <div class="col-md-2"><strong>{{quantity}}</strong></div>
                <div class="col-md-2">
                    <select class="form-select" id="quantity-cart">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                    </select>
                </div>
            </div>
            <br>
            <button type="button" value="{{ product.product_id }}" class="btn btn-secondary" id="add-cart">{{add_to_cart}}</button>
            {% endif %}
        </div>
    </div>
</div>




<script>
    $(document).on('click', '#add-cart', function (e) {
        e.preventDefault();
        $.ajax({
            type: 'POST',
            url: '{% url 'cart_add' %}',
            data: {
                product_id: $('#add-cart').val(),
                product_quantity: $('#quantity-cart option:selected').text(),
                csrfmiddlewaretoken: '{{ csrf_token }}',
                action: 'post'
            },

            success: function (json) {
                document.getElementById('cart_quantity').textContent = json.quantity
            },

            error: function (xhr, errmsg, err) {

            }
        });

    })
</script>
</body>

{% endblock %}