{% extends 'base.html' %}
{% block title %} {{title}} {% endblock %}
{% block header_title %} {{subtitle}} {% endblock %}
{% block content %}
<body>
    <div>
        <h2>{{ shopping_cart }}</h2>
        <p>{{ shopping_cart_message }}</p>
    </div>
    <br>
    <div class="container">
        {% if cart_products %}
        {% for product in cart_products %}
            <h1>{{ product.name }}</h1>
            <p><strong>{{ price }}:</strong> ${{ product.price }}</p>
            <p><strong>{{description}}:</strong> {{ product.description }}</p>
            <p><strong>{{brand}}:</strong> {{ product.brand }}</p>
            <p><strong>{{category}}:</strong> {{ product.category }}</p>
            <p><strong>{{created_at}}:</strong> {{ product.created_at }}</p>
            <div class="row justify">
                <div class="col-md-2"><strong>{{quantity}}</strong></div>
                <div class="col-md-2">
                    <select class="form-select" id="select{{ product.product_id }}">
                            {% for key, value in quantities.items %}
                                {% if key == product.product_id|slugify %}
                                <option selected> {{ value }}</option>
                                {% endif %}
                            {% endfor %}
                        
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                    </select>
                </div>
            </div>
            <button type="button" data-index="{{ product.product_id }}" class="btn btn-secondary update-cart">{{update}}</button>
            <br><br>
            <button type="button" data-index="{{ product.product_id }}" class="btn btn-danger delete-product">{{delete}}</button>
            <br><br>
        {% endfor %}
        <h3>{{total}}: ${{ totals}}</h3>
        <button type="submit"><a href="{% url 'order_create' %}">{{pay}}</a></button>
        {% else %}
        {{empty_cart_message}}
        {% endif %}
    </div>

    <script>
        $(document).on('click', '.update-cart', function(e){
                e.preventDefault();
                var productid = $(this).data('index');
                $.ajax({
                    type: 'POST',
                    url: '{% url 'cart_update' %}',
                    data: {
                        product_id: $(this).data('index'),
                        product_quantity: $('#select' + productid + ' option:selected').text(),
                        csrfmiddlewaretoken: '{{ csrf_token }}',
                        action: 'post'
                    },
    
                    success: function(json){
                        //document.getElementById('cart_quantity').textContent = json.quantity
                        location.reload();
                    },
    
                    error: function(xhr, errmsg, err){
    
                    }
                });
    
            })

        $(document).on('click', '.delete-product', function(e){
                e.preventDefault();
                
                $.ajax({
                    type: 'POST',
                    url: '{% url 'cart_delete' %}',
                    data: {
                        product_id: $(this).data('index'),
                        csrfmiddlewaretoken: '{{ csrf_token }}',
                        action: 'post'
                    },
    
                    success: function(json){
                        //document.getElementById('cart_quantity').textContent = json.quantity
                        location.reload();
                    },
    
                    error: function(xhr, errmsg, err){
    
                    }
                });
    
            })
    </script>
</body>

{% endblock %}